* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

body {
  color: #ffffff;
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424242;
  width: 31.25rem;
  padding: 3.125rem;
}

.inputs {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
}

.inputs label {
  margin: 0.3125rem 0;
}

.inputs input {
  padding: 0.3125rem;
  outline: none;
}

.inputs button {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  padding: 0.3125rem;
}
