* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

body {
  color: #ffffff;
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  background-color: #424242;
  width: 35rem;
  padding: 3.125rem;
}
